
@import "colors.scss";
.device-type-swiper {

		// .device-type-swiper__slide

		&__slide {
			width: 240px;
			height: 160px;
			border: 1px solid $border;
			border-radius: 6px;

			@media (min-width: 768px){
				width: 224px;
				height: 160px;
			}

			@media (min-width: 1440px){
				width: 240px;
				height: 160px;
			}
		}

		// .device-type-swiper__slide-link

		&__slide-link {
			width: 240px;
			height: 160px;
			display: flex;
			flex-direction: column;
			padding: 16px;
			justify-content: space-between;

			&:hover{
				.swiper-btn__img {
					opacity: 0.5;
					transition: 0.5s;
				}
			}

			.swiper-btn__img {
				align-self: flex-end;
			}
		}

		// .device-type-swiper__slide-title

		&__slide-title {
			align-self: flex-start;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;
			color: $textBlack;
		}
}

